@font-face {
    font-family: SicretMono;
    src: url("../fonts/SicretMono_PERSONAL-Bold") format("truetype");
}

.homepage-content {
    max-width: 1080px;
    margin: 40px auto 20px;
    padding: 0 40px; 
}
.product .image{
    width: 100px;
}
.product table tr td {
    width: 100%;
}
table tr td a{
    color: navy;
    text-decoration: none;

}


table tr td a:hover{
    color: orange;
}

table tr td {
    width: 300px;
    padding-left: 5%;
}


