body {font-family: Arial, Helvetica, sans-serif;}

@font-face {
    font-family: SicretMono;
    src: url("../fonts/SicretMono_PERSONAL-Bold") format("truetype");
}


.articulo{
    margin-top: 14px;
    margin-bottom: 14px;
}

.description{
    width: 90%;
    padding-left: 20px;
    vertical-align: text-top;
    color: navy;

}

ul {
    list-style: none;
}
.headcesta {
    width: 95%;
}

.precio{
    table-layout: fixed;
    text-align: left;
    padding-right: 50px;
}
td input[type=text] {
    width: 20px;
}
.precio{
    padding-right: 50px;

}

.description{
    width: 75%;
}
table tr td a{
    color: navy;
    text-decoration: none;
}
table tr td a:hover{
    color: orange;
}
.iconoCompra img{

    width:150px;
    height:150px;
}

.divespacio{
    width: 100%;
    height: 40px;
}

.botones{
    margin-left: 70%;
}
.cantidad{
    padding-right: 30px;
}

.cesta-head-name {
    width: 800px;
}

.descr-head-name {
    width: 900px;
}

.cant-head-name {
    text-align: right;
}

.precio-head-name {
    width: 100px;
    text-align: right;
}

td input[type=text] {
    width: 20px;
}
.precio{
    padding-right: 50px;

}

.head-name {
    width: 400px;
    vertical-align: top;
}

.description{
    width: 75%;
}


input[type="text"] {
  width: 150px;
  display: block;
  margin-bottom: -5px;
  background-color: black;
}
