/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-may-2020, 15:30:20
    Author     : Joaquin Giner y Pablo Pons
*/


.homepage-content {
	max-width: 1080px;
	margin: 40px auto 20px;
	padding: 0 40px; 
}

.homepage-content .main-content {
	align-items: stretch;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.main-content .tabla-datos{
    width: 400px;
    height: 400px;
    border: 2px solid;
    padding: 10px;
    border-radius: 25px;
}

.tabla-datos {
    text-align: center;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #000000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 80%;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.table-edit tr td{
    
    padding: 5px;
    
}
