body {font-family: Arial, Helvetica, sans-serif;}

@font-face {
    font-family: SicretMono;
    src: url("../fonts/SicretMono_PERSONAL-Bold") format("truetype");
}

.map {
    height: 400px;  /* The height is 400 pixels */
    width: 400px;  /* The width is the width of the web page */
}

.contacto{

    height: 400px;
    width: 50%;
    padding-left: 25%;
    display: flex;
    align-items: center;
    align-content: center;
}

.img_contact{
    height: 300px;

}

.datos{
    font-family: NexaLight;
    margin-top: 5%;
    padding-left: 10%;
    font-size: 20px;

}

.formulario{
    color: white;
    height: 400px;
    width: 100%;
    left: 0;
    width: 100%;
    background-color: teal;

}

.formulario table {
    align-self: center;
    padding-top: 4%;
    padding-left: 40%
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-instagram {
    background: #125688;
    color: white;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}