*
{
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Metrophobic', Arial, serif; font-weight: 400;
}

p.fbien {
font-family: Impact, Charcoal, sans-serif;
font-size: 40px;
letter-spacing: 2px;
word-spacing: 2px;
color: #33C5FF;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: italic;
font-variant: normal;
text-transform: none;
}
p.f1 {
font-family: Impact, Charcoal, sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #33C5FF;
font-weight: 400;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;
text-align: justify;
}
p.f2 {
font-family: Impact, Charcoal, sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #33C5FF;
font-weight: 400;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;
}
p.f3 {
font-family: Impact, Charcoal, sans-serif;
font-size: 17px;
letter-spacing: 2px;
word-spacing: 2px;
color: #FFFFFF;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: normal;
text-transform: none;
text-align: left;
}



body
{
  background-image: url("../img/stars_bg.jpg");
  padding: 0px;
}



section,
aside
{
  text-align: center;
  background-color: #000000;
  border-radius: 5px;
  padding: 50px;
}


nav,
footer
{
  width: 74%;
  padding: 5px;
}


header
{
  margin-bottom: 10px;
  height: 20%;
}

h1
{
  margin: 0;
}

nav,
aside
{
  width: 20%;
}

section
{
  float: left;
  width: calc(60% - 100px);
  margin: 0 50px 50px 50px;
}


nav
{
  float: left;
}

aside
{
  float: right;
}

nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  
}

nav li
{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

nav li:first-child
{
  display: block;
  
}
/* Cambia el enlace de color */
li a:hover {
  background-color: #555;
  color: #33C5FF;
}



footer
{
  clear: both;
  float: right;
}


.escala {
   width:100%;
   height:300px;
   object-fit:cover;
   object-position:50% 50%;
  }

.texto_oferta {
  font-size:28px;
  font-family:helvetica;
  font-weight:bold;
  color:red;
  text-transform:uppercase;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}





label {width: 80%;
		float: left;
font-size: 20px;
}
div.d1 {
    margin: 0px auto;
    width:400px;
font-size: 20px;
    
}
  /* Agregamos espacio entre los widgets del formulario */
form div + div {
    margin-top: 0.3em;

}
  
input, textarea {   
    
    /* Para armonizar el look del borde en los campos de texto */
      border: 2px solid #36CCFF; 
      font-size: 20px;
      color:#36CCFF
      
}
select {
    background: #fff;
    color:#307f7a;
     border: 2px solid #33C5FF; 
    min-width: 170px;
    min-height: 0px;
    font-size: 20px;
}
  
#caja{
    font-size: 20px;
    text-align: left;
    position: relative;
    top:  5%;
    left: 0%;
    width: 110%;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-bottom:10px;
    padding-left: 5px;
    border: 20px;
    box-shadow: 8px 8px 5px #444;
    background-image: linear-gradient(180deg, #fff, #33C5FF 40%, #33C5FF)
}



table.prodTabla {
  width: 100%;
  background-color: #000000;
  border-collapse: separate;
  border-width: 0px;
  border-color: #FFFFFF;
  border-style: solid;
  color: #FFFFFF;
}

table.prodTabla td, table.prodTabla th {
  border-width: 0px;
  border-color: #FFFFFF;
  border-style: solid;
  padding: 20px;
}

table.prodTabla thead {
  background-color: #33C5FF;
}


ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.admin-menu img {
	
	height: 10%;
	width: auto;
}

.admin-menu{

	margin: 40px auto 20px;
	padding: 0 40px; 
}
.button_main {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa) );
	background:-moz-linear-gradient( center top, #2dabf9 5%, #0688fa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa');
	background-color:#2dabf9;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
text-indent:0;
	border:1px solid #0b0e07;
	display:inline-block;
	color:#ffffff;
	font-family:Impact;
	font-size:30px;
	font-weight:normal;
	font-style:normal;
height:50px;
	line-height:50px;
width:200px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #263666;
}.button_main:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9) );
	background:-moz-linear-gradient( center top, #0688fa 5%, #2dabf9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9');
	background-color:#0688fa;
}.button_main:active {
	position:relative;
	top:1px;
}

.button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.button:active {
	position:relative;
	top:1px;
}
.divespacio{
    width: 100%;
    height: 40px;
}

input[type=button], input[type=submit], input[type=reset] {
        box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
input[type=button]:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
input[type=submit]:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
input[type=reset]:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
input[type=button]:active {
	position:relative;
	top:1px;
}
input[type=submit]:active {
	position:relative;
	top:1px;
}
input[type=reset]:active {
	position:relative;
	top:1px;
}

.no-link{
  pointer-events: none;
  cursor: text;
  text-decoration: none;
  color: whitesmoke;
} 

