@font-face {
    font-family: SicretMono;
    src: url("../fonts/SicretMono_PERSONAL-Bold") format("truetype");
}


.login {

    width: 100%;
    height: 100px;
    
}

.imagen {
    padding-left: 100px;
    width: 200px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.texto {
    padding-left: 45px;
    height: 100%;
    float: left;
    font-family: NexaLight;
    font-size: 36px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    height: 100%;
    float: left;
    padding-left: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.button:active {
	position:relative;
	top:1px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 150%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-image: url("../img/stars_bg.jpg"); */
    background-color: rgb(0,0,0); /* Fallback color */ 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /* background-image: url("../img/stars_bg.jpg"); */
    background-color: #000000; 
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 60%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.login-table {
   text-align: center;
   
}

.login-table table {
    margin: 0 auto;
}

.login-submit {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}



