
body {font-family: Arial, Helvetica, sans-serif;}

@font-face {
    font-family: SicretMono;
    src: url("../fonts/SicretMono_PERSONAL-Bold") format("truetype");
}

nav {
  font-family: SicretMono;
  width: 100%;
  height: 100px;
  background-color: teal;
  overflow: hidden;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.carrito{
  float: right;
  padding: 40px;

}

.carrito-image {

  padding-top: 38px;
  padding-right: 2px;
  margin-right: -40px;
  float: right;

}

.catalogo {
  float: left;
  padding: 40px;
  overflow: hidden;
}

.catalogo .catalogo-but {
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: SicretMono;
  margin: 0;

}
.catalogo-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: teal;

}

.sub-catalogo-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: teal;

}
.catalogo-content a {
  text-decoration: none;
  display: block;
}



.catalogo:hover .catalogo-content{
  display: block;
}

.catalogo-content a:hover {
  background-color: #006666;
}
.catalogo:hover{
  background-color: #006666;
}

.carrito:hover {
  background-color: #006666;
}

input[type=text]{
  width: 200px;
}

a.login-icon{
  width: 60px;
  height: 60px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  padding-right:25px;

}

.logo-icon{
  width: 100px;
  height: 100px;
  float: left;
}

.active {
  background-color: #4CAF50;
}

footer{
  height: 349px;
  width: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: teal;
}

footer table {

  height: 349px;
  width: 100%;
}

ul {
   list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}