/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12-may-2020, 16:26:34
    Author     : Joaquin Giner y Pablo Pons
*/

@font-face {
    font-family: SicretMono;
    src: url("../fonts/SicretMono_PERSONAL") format("truetype");
}

.homepage-content {
    max-width: 1080px;
    margin: 40px auto 20px;
    padding: 0 40px; 
}
.pedido img{
    height: 100px;
    width: 100px;
}

table tr td a{
    color: navy;
    text-decoration: none;

}
table tr td a:hover{
    color: orange;
}

table tr td {
    width: 300px;
    padding-left: 5%;
}